<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625147245718-ae02h5pdblikvh1s3uc10jhgduqhc904.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625147245718-ae02h5pdblikvh1s3uc10jhgduqhc904</string>
	<key>API_KEY</key>
	<string>AIzaSyCLIzn6u0K3BowXlt_-azQ1Ftfk_rbV2fk</string>
	<key>GCM_SENDER_ID</key>
	<string>625147245718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tutoringApp</string>
	<key>PROJECT_ID</key>
	<string>tutoring-app-382a0</string>
	<key>STORAGE_BUCKET</key>
	<string>tutoring-app-382a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625147245718:ios:21eac556c2ef6e71f1feb7</string>
</dict>
</plist>